.container{
.display: flex;
flex-direction: column;
justify-content: center;
align-item: center;
height: 100vh;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}