<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="../static/FinancialApp.css">
    <title>FinancialApp</title>
</head>
<body>
    <header class="site-header">
        <div class="container">
            <div class="header-content">
                 <div class="menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <nav>
                    <ul class="navigation">
                        <h3><li><a href="#">Home</a></li></h3>
                        <h3><li><a href="#">Services</a></li></h3>
                       <h3><li><a href="#">About</a></li></h3>
                    </ul>
                </nav>


            </div>
        </div>
    </header>
</body>
</html>