<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Goals</title>
    <link rel="stylesheet" type="text/css" href="../static/GoalTracker.css">
<h1 align="center">Welcome to the Goal Page</h1>
</head>

<body>
    <h2 class="goal-text">Look at your Goals</h2>
    <div class="glass-sheet">
        <div class="goals-container">

        <h2 class="goal-title">Goal Title</h2>


        </div>

    </div>
<button onClick="createNewGoal()">Create a new goal</button>

<script src="../static/GoalTracker.js"></script>
</body>
</html>