<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/TimeLine.css">
    <title>Our Timeline</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='TimeLine.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick-theme.css') }}">
</head>
<body>
<div id="timeline-container">
    <ul id="timeline">
        {% for event in events %}
        <li>
            <div class="timeline-event" onclick="showSlideshow('{{ event.image_file }}')">{{ event.date }}</div>
        </li>
        {% endfor %}
    </ul>
</div>

<div id="slideshow-container">
    <div class="slick-carousel">

    </div>
</div>

<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='slick.min.js') }}"></script>
<script src="{{ url_for('static', filename='TimeLine.js') }}"></script>
</body>
</html>
