<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Vacation</title>
    <link rel="stylesheet" type="text/css" href="../static/Vacation.css">
</head>
<body>
    <center><h2>Welcome, your dream vacation starts here</h2></center>

     <div id="slideshow">
    <img src="../static/timo-wagner-fT6-YkB0nfg-unsplash.jpg">
    <img src="../static/julian-paefgen-uxU_jyu9e7U-unsplash.jpg">
    <img src="../static/pedro-marroquin--hDsIhpgCdU-unsplash.jpg">
</div>

    <form action="/search" method="GET">
    <div class="search-container">
        <input type="text" class="search-input" placeholder="Search...">
        <button class="search-button">&#10140;</button>
    </div>
    </form>

<script src="../static/Vacation.js"></script>
</body>
</html>